@using Blazored.LocalStorage
@inject ILocalStorageService LocalStorage

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">TalentMatch</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <AuthorizeView Roles="JobSeeker">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="jobseeker/dashboard">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Vacantes
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="jobseeker/profile">
                    <span class="oi oi-person" aria-hidden="true"></span> Mi Perfil
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="jobseeker/applications">
                    <span class="oi oi-document" aria-hidden="true"></span> Mis Aplicaciones
                </NavLink>
            </div>
        </AuthorizeView>

        <AuthorizeView Roles="Employer">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="employer/dashboard">
                    <span class="oi oi-dashboard" aria-hidden="true"></span> Dashboard
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="employer/postjob">
                    <span class="oi oi-plus" aria-hidden="true"></span> Publicar Vacante
                </NavLink>
            </div>
        </AuthorizeView>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}